*{
    margin: 0;
    padding: 0;
}

.navigation{
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    font-size: 26px;
    display: flex;
}

.nav-left span{
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a:hover{
    color: brown;
    font-weight: bold;
}


.nav-left ul li a{
    text-decoration: none;
    color: black;
}

.nav-right{

}

.content{
    height: 395px;
    display: flex;
    margin-top: 12px;
    /* background-color: rgb(236, 191, 191);  */
    padding: 9px;

}

.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-left h1{
    padding-bottom: 20px;
}
.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img{
    height: 250px;
    border: 2px solid black;
}

.home-articles{
    /* background-color: rgb(228, 188, 159);   */
    padding: 10px;
    margin-top: 23px;
}

.home-article{
    display: flex;
    margin: 25px;
}

.home-article img{
    width: 300px;
}

.home-article-content{
    align-items: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: black
}
.footer{
    height: 35px;
    /* background-color: crimson;   */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}